/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 600px;
    border-radius: 10px;
    margin-top: 47px;
}

#search-bar{
    margin-bottom: 30px;
    margin-top: 30px;
}

#legende{
    border: solid #999999;
    border-radius: 10px;
    margin-top: 30px;
    padding: 5px;
}

.detail-div{
    margin-top: 30px;
    border: solid #999999;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
}

#titre-detail{
    padding: 15px;
}

#titre-legende{
    padding: 5px;
}

.container-detail-div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#div-detail-dechetterie,#div-detail-composteur{
    width: 45%;
}

.container-legende,#div-legende-dechetterie, #div-legende-composteur{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#dechetterie-fermee-container,#dechetterie-en-service-container,#composteur-complet-container,#composteur-en-servicecontainer{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.couleur-legende{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 100px;
}