{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block stylesheet %}
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <link href='https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css"/>
    <link rel="stylesheet" href={{ asset('css/style.css') }}>
{% endblock %}
{% block body %}
<div class="container">
    <div id='map' class="col-md-12"></div>
    <div id='legende' class="col-md-12">
        <h4 id="titre-legende">Légende</h4>
        <div class="col-md-12 container-legende">
            <div id="div-legende-dechetterie">
                <div id="dechetterie-en-service-container">
                    <div class="couleur-legende dechetterie" id="dechetterie-en-service"></div>
                    <span>Déchetterie en service</span>
                </div>
                <div id="dechetterie-fermee-container">
                    <div class="couleur-legende dechetterie" id="dechetterie-fermee"></div>
                    <span>Déchetterie fermée</span>
                </div>
            </div>
            <div id="div-legende-composteur">
                <div id="composteur-en-servicecontainer">
                    <div class="couleur-legende composteur" id="composteur-en-service"></div>
                    <span>Composteur en service</span>
                </div>
                <div id="composteur-complet-container">
                    <div class="couleur-legende composteur" id="composteur-complet"></div>
                    <span>Composteur complet</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-detail-div">
    <div id="div-detail-dechetterie" class="detail-div">
        <h2 id="titre-detail">Détails déchetteries</h2>
        <table id="details_table_dechetterie" class="display">
            <thead>
            <tr>
                <th>Nom déchetterie</th>
                <th>Statut</th>
                <th>Adresse</th>
                <th>Déchets acceptés</th>
                <th>Déchets refusés</th>
            </tr>
            </thead>
            <tbody>
            {% for donneeDechetterie in dataDechetterie %}
                <tr id="{{ donneeDechetterie.ident }}" class="data-rows-dechetterie">
                    <td>{{ donneeDechetterie.nom }}</td>
                    <td>{{ donneeDechetterie.statut }}</td>
                    <td><a href="https://www.google.fr/maps/dir// {{ donneeDechetterie.adresse |url_encode  }}" target="_blank">{{ donneeDechetterie.adresse }}</a></td>
                    <td>{{ donneeDechetterie.acceptes | lower | replace({"_" : " ", "\n" : ", "}) }}</td>
                    <td>{{ donneeDechetterie.refuses | lower | replace({"_" : " ", "\n" : ", "})}}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
    <div id="div-detail-composteur" class="detail-div">
        <h2 id="titre-detail">Détails composteurs</h2>
        <table id="details_table_composteurs" class="display">
            <thead>
            <tr>
                <th>Libelle composteur</th>
                <th>Statut</th>
                <th>Adresse</th>
                <th>Photo</th>
            </tr>
            </thead>
            <tbody>
            {% for donneeCommposteur in dataComposteur %}
                <tr id="{{ donneeCommposteur.gid }}" class="data-rows-composteur">
                    <td>{{ donneeCommposteur.libelle }}</td>
                    <td>{{ donneeCommposteur.statut  | lower | replace({"_" : " ", "\n" : ", "})}}</td>
                    <td><a href="https://www.google.fr/maps/dir// {{ donneeCommposteur.adresse |url_encode  }}" target="_blank">{{ donneeCommposteur.adresse }}</a></td>
                    <td><img src="{{ donneeCommposteur.photo }}" alt="Image composteur indisponible"></td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <script>
        var COLOR_MARKER_COMPOSTEUR_FULL = '#b5b3a6';
        var COLOR_MARKER_COMPOSTEUR_NOT_FULL = '#865f1b';
        var COLOR_MARKER_DECHETTERIE_OPEN = '#278c00';
        var COLOR_MARKER_DECHETTERIE_CLOSED = '#b80000';

        $('#dechetterie-en-service').css('background-color', COLOR_MARKER_DECHETTERIE_OPEN);
        $('#dechetterie-fermee').css('background-color', COLOR_MARKER_DECHETTERIE_CLOSED);
        $('#composteur-complet').css('background-color', COLOR_MARKER_COMPOSTEUR_FULL);
        $('#composteur-en-service').css('background-color', COLOR_MARKER_COMPOSTEUR_NOT_FULL);

        mapboxgl.accessToken = 'pk.eyJ1IjoiZ2VuZXNpc3Bvc3RyZW11cyIsImEiOiJja2htM3k0eWIwYnR6MnFrMXFmdXcxZjhhIn0.XHmYJ6VoN01kQzfpcFK2Tw';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/genesispostremus/ckhm3ueq20wkd1aqvytjkgntl'
        });
        map.addControl(new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl
        }));
        map.addControl(new mapboxgl.NavigationControl({'showCompass': false}), 'top-left');
        var geolocate = new mapboxgl.GeolocateControl({
                            positionOptions: {
                                enableHighAccuracy: true
                            },
                            trackUserLocation: true,
                            showAccuracyCircle: true
                        });
        map.addControl(geolocate);
        map.on('load', function() {
            geolocate.trigger();
        }); 
        map.getCanvas().style.cursor = 'default';

        $(document).ready(function() {
            $('#details_table_dechetterie').DataTable({
                "pageLength": -1,
                "lengthChange": false
            });
        } );
        $(document).ready(function() {
            $('#details_table_composteurs').DataTable({
                "pageLength": -1,
                "lengthChange": false
            });
        } );

        {% for donneeDechetterie in dataDechetterie %}
            var color_marker_dechetterie = COLOR_MARKER_DECHETTERIE_OPEN;
            if ('{{ donneeDechetterie.statut }}' !== "OUVERT")
            {
                color_marker_dechetterie = COLOR_MARKER_DECHETTERIE_CLOSED;
            }
            var popup = new mapboxgl.Popup({closeOnClick: true, className: 'popup{{ donneeDechetterie.ident }}'}).setHTML(
                "<b>{{ donneeDechetterie.nom }}</b><ul><li><a href='https://www.google.fr/maps/dir// {{ donneeDechetterie.adresse |url_encode  }}' target='_blank'>{{ donneeDechetterie.adresse }}</a></li><li>{{ donneeDechetterie.statut }}</li></ul>");
            var marker = new mapboxgl.Marker({color : color_marker_dechetterie})
                .setLngLat([{{ donneeDechetterie.coordonnees[1] | json_encode }}, {{ donneeDechetterie.coordonnees[0] | json_encode }}])
                .setPopup(popup)
                .addTo(map);
            popup.on('open', function(){
                $(".data-rows-dechetterie").hide();
                $("#{{ donneeDechetterie.ident }}").show();
            });
            popup.on('close', function(){
                $(".data-rows-dechetterie").show();
            });
        {%  endfor %}

        {% for donneeComposteur in dataComposteur %}
            var color_marker_compost = COLOR_MARKER_COMPOSTEUR_NOT_FULL;
            if ('{{ donneeComposteur.statut | replace({' ': ''})}}' === "COMPLET")
            {
                color_marker_compost = COLOR_MARKER_COMPOSTEUR_FULL;
            }
            var popupComp = new mapboxgl.Popup({closeOnClick: true, className: 'popup{{ donneeComposteur.gid }}'}).setHTML(
                "<b>{{ donneeComposteur.libelle }}</b><ul><li><a href='https://www.google.fr/maps/dir// {{ donneeComposteur.adresse | url_encode  }}' target='_blank'>{{ donneeComposteur.adresse }}</a></li><li>{{ donneeComposteur.statut | lower | replace({"_" : " "})}}</li></ul><img style='width: 200px'src='{{ donneeComposteur.photo }}' alt='Image composteur indisponible'>");
            var markerComp = new mapboxgl.Marker({color : color_marker_compost})
                .setLngLat([{{ donneeComposteur.coordonnees[1] | json_encode }}, {{ donneeComposteur.coordonnees[0] | json_encode }}])
                .setPopup(popupComp)
                .addTo(map);
            popupComp.on('open', function(){
                $(".data-rows-composteur").hide();
                $("#{{ donneeComposteur.gid }}").show();
            });
            popupComp.on('close', function(){
                $(".data-rows-composteur").show();
            });
        {% endfor %}
    </script>
    <script src="{{ asset('js/script_maps.js') }}"></script>
{% endblock %}
